<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5, px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <% if @user.errors.any? %>
        <div id="error_explanation" class="container px-5 px-sm-0">
          <h3>
            <%= @user.errors.count %>
            errors prohibited this obj from being saved:
          </h3>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= form_with model: @user, local: true do |f| %>
          <div class="form-group">
            <label for="name">Naame</label><br>
            <%= f.text_field :name, id: "name"%>
          </div>
          <div class="form-group">
            <label for="image">Image</label><br>
            <%= f.attachment_field :profile_image, id: "image" %>
          </div>
          <div class="form-group">
            <label for="introduciton">introduciton</label><br>
            <%= f.text_field :introduction, id: "introduciton" %>
          </div>
          <div class="form-group">
            <%= f.submit "Update User", class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>